<div class="shops">
  <ng-container *ngIf="itemsForDisplay$ | async as menuItems">
    <app-sidebar class="shops__sidebar"></app-sidebar>

    <div *ngIf="menuItems.length" class="card scrollable">
      <div *ngFor="let prod of menuItems" class="card__wrapper">
        <app-card>
          <img src="./../../assets/prod-img.png" alt="" class="card__img" />
          <h3 class="card__text">{{ prod.title }}</h3>
          <p class="card__price">
            {{
              prod.price | currency : ("CURRENCY" | translate) : "symbol-narrow"
            }}
          </p>
          <app-button
            [label]="'BUTTONS.ADD' | translate"
            class="card__btn"
            (customClick)="handleClick(prod)"
          ></app-button>
        </app-card>
      </div>
    </div>
  </ng-container>
</div>
