.wrapper {
    margin-bottom: 25px;
}

.card {
    &__img {
        max-width: 300px;
        object-fit: cover;
    }

    &__qnt {
        margin-top: 15px;
    }

    &__text,
    &__price {
        font-weight: 500;
    }
}