<form [formGroup]="form">
  <app-input
    formControlName="name"
    label="Name:"
    placeholder="Name"
    errorMessage="{{ errorMsg.name }}"
    type="text"
  ></app-input>
  <app-input
    formControlName="email"
    label="Email:"
    placeholder="Email"
    errorMessage="{{ errorMsg.email }}"
    type="email"
  ></app-input>
  <app-input
    formControlName="phone"
    label="Phone:"
    placeholder="Phone"
    errorMessage="{{ errorMsg.phone }}"
    type="phone"
  ></app-input>
  <app-input
    formControlName="address"
    label="Address:"
    placeholder="Address"
    type="email"
    errorMessage="{{ errorMsg.address }}"
  ></app-input>
</form>
