<ng-container *ngIf="showForm; else noItems">
  <form [formGroup]="form">
    <app-input
      formControlName="name"
      label="Name:"
      placeholder="Name"
      type="text"
      errorMessage="{{ errorMessage.name }}"
    ></app-input>
    <app-input
      formControlName="email"
      label="Email:"
      placeholder="Email"
      type="email"
      errorMessage="{{ errorMessage.email }}"
    ></app-input>
    <app-input
      formControlName="phone"
      label="Phone:"
      placeholder="Phone"
      type="phone"
      errorMessage="{{ errorMessage.phone }}"
    ></app-input>
    <app-input
      formControlName="address"
      label="Address:"
      placeholder="Address"
      type="email"
      errorMessage="{{ errorMessage.address }}"
    ></app-input>
  </form>
  <app-cart-contents></app-cart-contents>
  <h3>Total price: {{ price$ | async | currency }}</h3>
  <app-button
    [disabled]="form.invalid"
    label="submit"
    type="primary"
    (customClick)="handleSubmit()"
  ></app-button>
</ng-container>

<ng-template #noItems>
  <h2>The cart is empty</h2>
</ng-template>
