h2{
    font-size: 32px;
}

.red{

    ::ng-deep .mat-mdc-text-field-wrapper,.mdc-text-field{
        border: 4px solid red !important;
        outline:none;
    }
}
.green{

    ::ng-deep .mat-mdc-text-field-wrapper,.mdc-text-field{
        border:4px solid green !important;
        outline:none;
    }
}
