<ng-template #noItems>
  <h2>{{ "FORM.EMPTY" | translate }}</h2>
</ng-template>

<ng-container *ngIf="showForm; else noItems">
  <form [formGroup]="form">
    <mat-form-field class="input" appearance="outline">
      <mat-label>{{ "FORM.NAME.LABEL" | translate }}</mat-label>
      <input
        [errorStateMatcher]="errorMatcher"
        formControlName="name"
        matInput
        [placeholder]="'FORM.NAME.PLACEHOLDER' | translate"
        [type]="inputTypeEnum.TEXT"
      />
      <mat-error>{{ "FORM.NAME.ERROR" | translate }}</mat-error>
    </mat-form-field>

    <mat-form-field class="input" appearance="outline">
      <mat-label>{{ "FORM.EMAIL.LABEL" | translate }}</mat-label>
      <input
        [errorStateMatcher]="errorMatcher"
        formControlName="email"
        matInput
        [placeholder]="'FORM.EMAIL.PLACEHOLDER' | translate"
        [type]="inputTypeEnum.EMAIL"
      />
      <mat-error>{{ "FORM.EMAIL.ERROR" | translate }}</mat-error>
    </mat-form-field>

    <mat-form-field class="input" appearance="outline">
      <mat-label>{{ "FORM.PHONE.LABEL" | translate }}</mat-label>
      <input
        [errorStateMatcher]="errorMatcher"
        formControlName="phone"
        matInput
        [placeholder]="'FORM.PHONE.PLACEHOLDER' | translate"
        [type]="inputTypeEnum.TEL"
      />
      <mat-error>{{ "FORM.PHONE.ERROR" | translate }}</mat-error>
    </mat-form-field>

    <mat-form-field class="input" appearance="outline">
      <mat-label>{{ "FORM.ADDRESS.LABEL" | translate }}</mat-label>
      <input
        [errorStateMatcher]="errorMatcher"
        formControlName="address"
        matInput
        [placeholder]="'FORM.ADDRESS.PLACEHOLDER' | translate"
        [type]="inputTypeEnum.TEXT"
      />
      <mat-error>{{ "FORM.ADDRESS.ERROR" | translate }}</mat-error>
    </mat-form-field>
  </form>

  <app-cart-contents></app-cart-contents>
  <h3>
    {{ "FORM.TOTAL_PRICE" | translate }}
    {{ price$ | async | currency : ("CURRENCY" | translate) : "symbol-narrow" }}
  </h3>
  <app-button
    [disabled]="form.invalid"
    [label]="'BUTTONS.PLACE_ORDER' | translate"
    type="primary"
    (customClick)="handleSubmit()"
  ></app-button>
</ng-container>
