.card {
    padding: 15px;
    &__content {
        display: flex;
        flex-direction: column;
    }

    .mat-mdc-card-content {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 20px 0;
    }
}